body{
	padding: 0;
	margin: 0;
}
.meter_cont{
	width:500px;
	height:300px;
}

.meter_arrow_center{
background: -moz-linear-gradient(top,  #000000 0%, #646464 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #000000 0%,#646464 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #000000 0%,#646464 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#646464',GradientType=0 ); /* IE6-9 */
}

.meter_arrow_spin{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#686868+0,444444+50,090909+51,000000+100 */
background: #686868; /* Old browsers */
background: -moz-linear-gradient(top,  #686868 0%, #444444 50%, #090909 51%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #686868 0%,#444444 50%,#090909 51%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #686868 0%,#444444 50%,#090909 51%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.meter_arrow{

	
}
.st2{
	fill: #e4e4e4;
}